<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <img src="~/img/30.jpg" alt="Film veya Dizi Sitesi" class="img-fluid rounded-circle mb-3" style="width: 350px;">
        <h1 class="display-4">Keyifli Anlar Geçirmeniz İçin En İyi Filmler ve Diziler</h1>
        <p class="lead">Sizi etkileyici hikayeler ve unutulmaz karakterlerle buluşturan bir dünyaya hoş geldiniz. Film ve dizi koleksiyonumuzla, düşük anahtar bir akşamdan büyük bir heyecan ve duygu patlaması yaşamaya hazır olun.</p>
        <a href="#" class="btn btn-primary btn-lg">Keşfetmeye Başla</a>
    </div>
</div>