<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">

    <a class="navbar-brand" href="/">HomePage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="movies/list"><span class="sr-only">(current)</span>Movies</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="home/about">
                        Categories
                    </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add Movie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/movies/create">Movies Create</a>
                    <a class="dropdown-item" href="#">The Most Popular</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Suggested For You</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Top 10</a>
            </li>
        </ul>
        <form action="/movies/list" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Movies or Series Search</button>
        </form> 
			@* <form action="" class="form-inline">
				<input type="text" placeholder="Film Ara" class="form-control mr-2" />
				<button type="submit" class="btn btn-outline-dark mr-0">Bul</button>
            </form> *@
    </div>
    </div>

</nav>